* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerLogin {
    display: flex;
    background: linear-gradient(
        180deg,
        rgba(255, 142, 10, 0.225) 0%,
        rgba(255, 142, 10, 0.133647) 25%,
        rgba(253, 254, 255, 0) 75%
      ),
      #ffffff;
    margin: 0px;
    padding: 35px;
    backdrop-filter: blur(100px);
    align-items: center;
}

.iniciarsesionML {
    text-align: center;
    width: 272px;
    height: 24px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

.mainLogin {
    display: flex;
    height: 80vh;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; 
    
}


.labelTitleML{
    font-weight: 600;
    text-align: left;
    font-size: 16px;
}

.labelPassML {
    margin-top: 8rem;
    font-weight: 600;
    text-align: left;
    font-size: 16px;
}



.input-login{
    margin-top: 1rem;
    width: 300px;
    height: 40px;
    border: 2px solid whitesmoke;
    border-radius: 0 15px;
    text-indent: 10px;
}

.button{
    margin-top: 4rem;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 0px 15px;
    color: white;
    background-color: orange; 
}

.inactivebutton{
    margin-top: 4rem;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 0px 15px;
    color: white;
    
}

.olvido{
    margin-top: 3rem;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
}


.error {
    border-color: red;
}

