* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerLogin {
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25vw;
    background: linear-gradient(360deg, rgb(253, 254, 255) 25%, rgba(248, 186, 115, 0.068) 75%, rgba(255, 185, 105, 0.651) 100%);
}

.headerLogin h3 {
    text-align: center;
    width: 272px;
    height: 24px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
   
  }

.mainLogin {
    display: flex;
    height: 80vh;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; 
    
}


.inputitile{
    font-weight: 600;
    text-align: left;
}



.input-login{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 300px;
    height: 40px;
    border: 2px solid whitesmoke;
    border-radius: 0 15px;
    text-indent: 10px;
}

.button{
    margin-top: 10px;
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 0px 15px;
    color: white;
    background-color: orange;
    
}

.inactivebutton{
    margin-top: 10px;
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 0px 15px;
    color: white;
    
}

.olvido{
    margin-top: 20px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

