 
.lobby-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(253, 254, 255, 0) 0%, #FDFEFF 75%);    
    background-size: contain;
    height: 100vh;
    width: 100vw;
  }

.sectionLobby {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    margin-top:110px;
}

   .content{
    display: flex;
    flex-direction: column;

   }
 
   .logo{
    display: flex;
    margin-left: 50px;
    margin-top: 60px;
    width: 208px;
    height: 70px;
    background-image: url(../../assets/icons/logo-large.svg);
    background-repeat: no-repeat;
   }

   .logotipo {
    background-color: transparent;
    opacity: 50%;
   }
   
   .titleLobby {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 31px;
      margin-top: 5%;
      text-align: center;
      letter-spacing: -0.8px;    
      color: #26262E;
    }

     
  
  
      .registrarsegratis{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FDFEFF;
        background-color:#FF8E0A;
        border-radius: 0px 20px;
        border: none;
        height: 40px;
        margin: 10px;
        padding: 0px 15px;
        width: 300px;
        letter-spacing: 0.5px;
        font-weight: 400;
        padding: 20px;
                    
      }
  
      .continuarcongoogle{
        display: flex;
        align-items: center;
        justify-content: center;
        border: #26262E solid 2px;
        border-radius: 0px 20px;
        height: 39px;
        margin: 10px;
        width: 300px;
        font-weight: 600;
        background-color: transparent;
        padding: 20px;
    }
  
      .continuarconapple{
        display: flex;
        align-items: center;
        justify-content: center;
        border: #26262E solid 2px;
        border-radius: 0px 20px;
        height: 39px;
        margin: 10px;
        padding: 0px 15px;
        width: 300px;
        font-weight: 600;
        background-color: transparent;
        padding: 20px;
    }  

    .containerbutton{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .iniciarsesion{
        display: flex;
        align-items: center;
        justify-content: center;       
        border: none;
        padding: 30px;
        width: 300px;
        margin-top: 10px;
        font-weight: 600;
        background-color: white;
        font-size: 16px;
        color: black;
        border-radius: 0px 20px;
         height: 30px;
    }

   
    
    .background-gif {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/icons/gif.gif"); 
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: black;
      z-index: -1;
    }
  
#navLogin{
  text-decoration: none;

}
    button img{
      margin-right: 15px;
    }