#gradientProfile {
  background: linear-gradient(
    180deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(102, 149, 175, 0.5346) 75%,
    rgba(102, 149, 175, 0.9) 100%
  );
  opacity: 0.25;
  transform: rotate(-180deg);
  display: flex;
  position: absolute;
  width: 100%;
  height: 20%;
}

#imgUser {
  width: 150px;
  border-radius: 50%;
  margin-top: 50px;
}
#divImgProfile {
  display: flex;
  justify-content: space-evenly;
}
#btnSettings {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: white;
  border: none;
  position: absolute;
  right: 30px;
  top: 50px;
}
#infoUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#infoUser h3 {
  font-size: 26px;

  letter-spacing: 0.5px;
}
#infoUser p {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

#horizontalLineProfile {
  border-top: 2px solid #e4e6e8;
  width: 110px;
  display: flex;
  margin-top: 20px;
}

#divBtnPlaylist {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

#divBtnPlaylist p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #26262e;
}
#divBtnPlaylist button {
  padding: 4px 8px;
  width: 100px;
  height: 26px;
  background: #ff8e0a;
  border-radius: 0px 8px;
  border: none;
  color: white;
  margin-top: 10px;
}
.ulPlaylist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.eachLi {
  display: flex;
  flex-direction: column;
}

.imgArtistPlaylist img {
  width: 150px;
  border-radius: 0px 25px;
}

.eachLi p {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #26262e;
}

.ulPlaylist li span {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #838486;
}

#footerContainerProfile {
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  height: 80px;
}
